<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>无标题文档</title>
<link href="../stylesheets/grid.css" media="screen, projection" rel="stylesheet" 
 type="text/css" />

<link href="../stylesheets/text.css" media="screen, projection" rel="stylesheet"
type="text/css" />

<style type="text/css">
    body{text-align: center;}
    h3{
    	background-color: #abcdef;
    	text-align: center;
    }
</style>
</head>

<body  >
	<h3>基于混合器的用法</h3>
    <div class="two-column" style="overflow: hidden;">

        <div class="header">Header</div>

        <div class="sidebar">sidebar</div>

        <div class="content">Content</div>


        <div class="footer" >Footer</div>

   </div>

	<h3>使用类名来调用24列的版本</h3>
   <div class="container_24" style="overflow: hidden;">

        <div class="grid_24">Header</div>

        <div class="grid_8">sidebar</div>

        <div class="grid_16">Content</div>


        <div class="grid_24" >Footer</div>

   </div>

</body>
</html>
