/*配置精灵间距*/
$icon-spacing:5px;
$icon-home-spacing:100px; 

/*配置精灵重复性*/
/*$icon-repeat:repeat-x;*/
$icon-home-repeat:repeat-x;


/*配置精灵的位置
  报错哎：in `check_size_constra
ints!': Background image width is too small!
*/
//$icon-position:5px;
//$icon-music-position:100%;   


/*设置精灵地图的布局 此处用horizontal也是不管用的哎，报错Background image width is too small! ？？*/
$icon-layout: smart;

$icon-clean-up: true; 


$icon-sprite-base-class: ".spritey-mcspriterson";


/*为精灵地图中的每个精灵自动设置尺寸的配置变量*/
$icon-sprite-dimensions:true;

@import "compass/utilities/sprites";
@import "icon/*.png";
/*@include all-icon-sprites;*/

.spritey-mcspriterson {
overflow: hidden;
}


.test{
	@include icon-sprite(music) ;
}


.next {
	@include icon-sprite(headphones);
	/*width: icon-sprite-width(headphones);//设置单个精灵的宽和高的辅助器函数，会自动测量精灵的尺寸并输出
	  height: icon-sprite-height(headphones);
	*/
}
.add-button {
	@include icon-sprite(headphones);
}