/* line 4, ../sass/test.scss */
p {
  width: 200px;
  color: #999;
  border: 1px solid black;
}

/* line 12, ../sass/test.scss */
#content article h1 {
  color: #333;
}
/* line 15, ../sass/test.scss */
#content article p {
  border: 1px solid black;
  transition: border 0.25s ease-in-out 0s,background-color 0.15s ease-in-out 0s;
  background-color: #eee;
}
/* line 19, ../sass/test.scss */
#content article p:hover {
  cursor: pointer;
  background-color: #ddd;
  border: 1px solid yellow;
}
/* line 28, ../sass/test.scss */
#content aside {
  background-color: #eee;
}
/* line 30, ../sass/test.scss */
body.ctt #content aside {
  color: pink;
}

/* line 37, ../sass/test.scss */
#content h1, #content h2 {
  background-color: #abcdef;
}

/* line 44, ../sass/test.scss */
nav a, aside a {
  text-decoration: none;
}

/* line 49, ../sass/test.scss */
div#ultt {
  /*   
     li+li{
     	 background-color:pink;
     }
     
     >ul{
        >li{
  	     text-decoration:underline;
  	  }  
     }
     */
  /*why.....?*/
}
/* line 64, ../sass/test.scss */
div#ultt ul {
  text-decoration: underline;
}
/* line 68, ../sass/test.scss */
li + div#ultt ul li {
  font-size: 26px;
  color: red;
}

/* 
 #ultt  li + ul li {
    font-size: 26px;
	color:red;
} */
/*why.....?*/
/* line 91, ../sass/test.scss */
p + #tyty div {
  background-color: pink;
}

/* line 101, ../sass/test.scss */
nav + #content article {
  color: red;
}
