<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>无标题文档</title>
<link href="../stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
<link href="../stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
<!--[if lt IE 8]>
    <link href="../stylesheets/ie.css" media="screen, projection" rel="styleshee
 type="text/css" />
<![endif]-->

<style type="text/css">
    body{text-align: center;}
</style>
</head>

<body class="two-col">

    <div class="container">

        <div class="header">Header</div>

        <div class="sidebar">sidebar</div>

        <div class="content">Content</div>

        <div class="footer" >Footer</div>

   </div>

</body>
</html>
