/* CSS Initializing */
pre{white-space: normal;}
body,dl,dd,ul,ol,h1,h2,h3,h4,h5,h6,form,p{margin:0px;padding:0px;}
body{font-size:12px;font-family: Arial, Helvetica, sans-serif 'Microsoft Yahei';color: #777777;line-height:23px;background:#fff;}
img{border:0;}
ul,li{list-style:none;list-style-type: none}
h1, h2, h3, h4, h5, h6 { font-size: 100% } /* 字体加粗与否，视页面标题更改 */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{ font-weight:bold;} /* 字体加粗与否，视页面标题更改 */
i,b{ font-size:12px; font-weight:normal;font-style: normal;}
input,button, textarea, select{ vertical-align: middle;}
input{ height:18px; color:#000000; line-height:18px;outline:none;}
select{ height:23px; color:#000000; line-height:23px;}
button { cursor: pointer }
em, cite { font-style: normal; }
a{color:#777777;text-decoration:none;}
a:hover{color: #a6e000;text-decoration: none; list-style:none;}
.txtlf{ text-align:left;}
.txtrg{ text-align:right;}
.fl{ float:left;}
.fr{ float:right;}
.fix:after {content:'.';display:block;clear:both;visibility:hidden;height:0px;}/*清除浮动的一种方法，将此class名写在内部有浮动的标签中，便可清除子字元素的浮动，使用非常方便*/
.fix {zoom:1;}
.clearfixed:after { content: "."; clear: both; display: block; height: 0; overflow: hidden }
.clearfixed { zoom: 1 } /* 增加清除浮动样式时，要注意当前元素是否为块结构，如果不是，要添加属性 display: block */
.clear { display: block!important; float: none!important; clear: both; width: auto!important; height: 0;margin: 0 auto!important; padding: 0!important; font-size: 0; line-height: 0 }
.brank{ line-height:8px; clear:both; height:8px;margin: 0 auto!important; padding: 0!important; font-size: 0; float: none!important;}
.none{ display:none;}
table{border-collapse:collapse;}
.header{background:#fff;}
.header .header_top{height:26px;line-height:26px;background:#f2f2f2;border-bottom:1px solid #e3e3e3;}
.header .header_top .top_reg{width:480px;}
.header .header_top .top_reg .welcome i{display:inline-block;width:14px;height:13px;background:url(../images/icon.png) no-repeat; vertical-align:middle;margin-right:4px;}
.header .header_top .top_sub{width:500px;}
.header .header_top .top_sub li{float:left;background:url(../images/linetop.png) no-repeat right center;padding:0 10px;border-left:1px solid #f2f2f2;border-right:1px solid #f2f2f2;}
.header .header_top .top_sub li.my_ban{width:78px;position:relative;}
.header .header_top .top_sub li.my_ban.cur{background:#fff;border-left:1px solid #ddd;border-right:1px solid #ddd;}
.header .header_top .top_sub li.my_ban a{display:inline-block;padding-right:15px;background:url(../images/list02.png) no-repeat right center;}
.header .header_top .top_sub li.my_ban.cur a{background:url(../images/list02cur.png) no-repeat right center;}
.header .header_top .top_sub li.my_ban ul{width:100px;position:absolute;background:#fff;border:1px solid #ddd;top:26px;left:-1px;border-top:none;display:none;}
.header .header_top .top_sub li.my_ban ul a,.header .header_top .top_sub li.my_ban.cur ul a{padding:0;background:none;}
.header .header_top .top_sub li.my_ban ul li{background:none;border:none;}
.header .header_top .top_sub li{padding-left:6px;}
.header .header_center{padding:42px 0 0px;border-bottom:2px solid #727171;}
.wrap{width:1200px;margin:0 auto;}
.blue{color:#6774b7 !important;}
.header .logo{width:345px;}
.header .logo img{ vertical-align:middle;}
.search_form{width:500px;margin-left:70px;}
.header .logo .logo_txt{font-family:'微软雅黑';color:#4a4a4a;display:inline-block;font-size:22px;height:70px;line-height:70px;margin-left:10px;}
.header_center .search_form .search_box .search_tab a{display:inline-block;width:66px;text-align:center;height:26px;line-height:26px;border-radius:5px 5px 0 0 ; vertical-align:bottom;cursor:pointer;}
.header_center .search_form .search_box .search_tab a.cur,.header_center .search_form .search_box .search_tab a:hover{background:#90c320;color:#fff;}
.header_center .search_form .search_cont div{background:#90c320;border-radius:10px;}
.header_center .search_form .search_cont div.first{background:#90c320;border-radius:0 10px 10px 10px;}
.header_center .search_form .search_box form{background:#8fc320;height:42px;line-hehight:42px;border-radius:10px;}
.header_center .search_form p{height:28px;line-height:28px;}
.header_center .search_form .search_box .search_text{width:400px;padding:0 5px 0 15px;height:36px;line-height:36px;border:1px solid #fff;float:left;background:#fff;border-radius:10px;margin:2px 0 2px 2px;font-family:'微软雅黑';}
.header_center .search_form .search_box .search_btn{float:right;width:75px;background:#8fc320;font-family:'微软雅黑';color:#fff;border:none;cursor:pointer;height:42px;font-size:16px;border-radius:7px;}
.header_center .search_form .key_words a{margin-right:15px;}
.header_center .header_icobox{width:278px;margin-top:26px;}
.header_center .header_icobox em{display:inline-block;width:42px;height:42px; vertical-align:middle;margin:0 10px 0 15px;}
.header_center .header_icobox span.icon01 em{background:url(../images/rlico09.png) no-repeat;}
.header_center .header_icobox span.icon02 em{background:url(../images/rlico10.png) no-repeat;}
.header_center .header_icobox span.icon03 em{background:url(../images/rlico11.png) no-repeat;}
.cart_box{width:166px;height:40px;background:#172a88;line-height:40px;margin-top:6px;position:relative;color:#172a88;font-family:'微软雅黑';font-size:16px;}
.cart_box i{display:inline-block;width:35px;height:31px;background:url(../images/icon.png) no-repeat 0 -25px; vertical-align:middle;margin:0 6px 0 26px;}
.cart_box a{color:#f8d11d;}
.cart_box span{display:inline-block;min-width:26px;height:26px;border-radius:26px;background:#f8d11d;text-align:center;line-height:26px;position:absolute;right:-10px;top:-10px;}
.nav_box{height:38px;line-height:38px;margin-top:20px;}
.nav_box .header_menu{width:192px;font-family:'微软雅黑';font-size:14px;position:relative; z-index:99;}
.nav_box .header_menu .title_bar{height:38px;line-height:38px;background:#3E3A39;color:#fff;text-align:center;}
.nav_box .header_menu .title_bar i{width:13px;height:10px;background:url(../images/icon.png) no-repeat left -64px;display:inline-block;margin:0 20px 0 15px;}
.nav_box .header_menu .list{background:#F6F7F7;position:absolute;left:0;top:40px;width:192px;height:358px;}
.nav_box .header_menu .list li{height:38px;line-height:38px;}
.nav_box .header_menu .list li.cur{}
.nav_box .header_menu .list li.cur a{color:#333;border:none;background:#fff; position:relative; z-index:999;}
.nav_box .header_menu .list li.cur a span{color:#fff;}
.nav_box .header_menu .list li a{color:#595757;display:block;padding:0 36px;font-size:16px;}
.nav_box .header_menu .list li a span{display:inline-block;}
.nav_box .header_menu .list li .sub_box{position:absolute;left:192px;top:-1px;background:#fff;padding:5px 30px;height:344px;width:690px;color:#333;border-top:2px solid #5766b1;box-shadow:1px 1px 5px #999; z-index:9;}
.nav_box .header_menu .list li .sub_box a{color:#333;margin:0 4px;display:inline-block;border:none;padding:0}
.nav_box .header_menu .list li .sub_box dl dt{float:left;display:inline-block;width:85px;line-height:40px;font-weight:bold;}
.nav_box .header_menu .list li .sub_box dl dd{float:left;width:570px;line-height:40px;border-bottom:1px dotted #ddd;margin-left:20px;color:#5e5e5e;}
.nav_box .header_menu .list li .sub_box dl dd a:hover{color:#172a88; text-decoration:underline;}
.nav_box .header_menu .list li .sub_box dl dd a{font-size:14px;color:#5e5e5e;}
div.slideBox{ position:relative; width:670px; height:300px; overflow:hidden;}
div.slideBox ul.items{ position:absolute; float:left; background:none; list-style:none; padding:0px; margin:0px;}
div.slideBox ul.items li{ float:left; background:none; list-style:none; padding:0px; margin:0px;}
div.slideBox ul.items li a{ float:left; line-height:normal !important; padding:0px !important; border:none/*For IE.ADD.JENA.201206300844*/;}
div.slideBox ul.items li a img{ margin:0px !important; padding:0px !important; display:block; border:none/*For IE.ADD.JENA.201206300844*/;}
div.slideBox div.tips{ position:absolute; bottom:0px; width:100%; height:50px; background-color:#000; overflow:hidden;}
div.slideBox div.tips div.title{ position:absolute; left:0px; top:0px; height:100%;}
div.slideBox div.tips div.title a{ color:#FFF; font-size:18px; line-height:50px; margin-left:10px; text-decoration:none;}
div.slideBox div.tips div.title a:hover{ text-decoration:underline !important;}
div.slideBox div.tips div.nums{ position:absolute; right:0px; top:0px; height:100%;}
div.slideBox div.tips div.nums a{ display:inline-block; >float:left/*For IE.ADD.JENA.201206300844*/; width:20px; height:20px; background-color:#FFF; text-indent:-99999px; margin:15px 10px 0px 0px;}
div.slideBox div.tips div.nums a.active{ background-color:#093;}
.nav_box .nav{width:840px;}
.nav_box .nav li{float:left;font-family:'微软雅黑';font-size:16px;width:152px;text-align:center;height:38px;line-height:38px;}
.nav_box .nav li a{color:#595757;}
.nav_box .nav li a:hover,.nav_box .nav li a.cur{color:#a6e000;}
.nav_box .header_notice{width:272px;}
.nav_box .header_notice li {height:38px;line-height:38px;}
.nav_box .header_notice li a{color:#f96c64;}
/* flexslider */
.index_flex .flexslider{position:relative;height:354px;overflow:hidden;background:url(../images/loading.gif) 50% no-repeat;overflow:hidden;}
.index_flex .slides{position:relative;z-index:1;overflow:hidden;height:354px;}
.index_flex .slides li{height:354px;}
.index_flex .flex-control-nav{position:absolute;bottom:10px;z-index:12;width:100%;text-align:center;}
.index_flex .flex-control-nav li{display:inline-block;width:14px;height:14px;margin:0 5px;*display:inline;zoom:1;}
.index_flex .flex-control-nav a{display:inline-block;width:14px;height:14px;line-height:40px;overflow:hidden;background:url(../images/dot.png) right 0 no-repeat;cursor:pointer;}
.index_flex .flex-control-nav .flex-active{background-position:0 0;}
.index_flex .flex-direction-nav{position:absolute;z-index:3;width:100%;top:45%;display:none;}
.index_flex .flex-direction-nav li a{display:block;width:50px;height:50px;overflow:hidden;cursor:pointer;position:absolute;}
.index_flex .flex-direction-nav li a.flex-prev{left:40px;background:url(../images/prev.png) center center no-repeat;}
.index_flex .flex-direction-nav li a.flex-next{right:40px;background:url(../images/next.png) center center no-repeat;}
.index_flex .flexslider:hover .flex-direction-nav{display:block;}
/***/
.banner_news{position:absolute;right:50%;margin-right:-600px;top:37px;font-family:'微软雅黑'; z-index:10;}
.banner_bar{width:270px;float:right;}
.banner_news .list{background:#fff;}
.banner_news .list ul{margin-bottom:14px;padding:10px 0;}
.banner_news .list .title{padding:0 18px;height:34px;line-height:34px;background:#f6f6f6;border-top:2px solid #f8b62d;}
.banner_news .list .title .tit{font-size:14px;color:#f8b62d;}
.banner_news .list .title a{}
.banner_news .list li{font-size:12px;height:33px;line-height:33px;margin:0 18px;}
a.business_btn{display:block;font-size:20px;color:#fff;height:48px;line-height:48px;background:#e71f25;border-radius:5px;}
.business_btn i{width:30px;height:30px;background:url(../images/icon.png) no-repeat left -79px;display:inline-block;margin:0 16px 0 55px; vertical-align:middle;}
.gz_link{line-height:30px;}
.gz_link i{display:inline-block;width:13px;height:13px;text-align:center;line-height:13px;color:#fff;background:#6d7bbb;border-radius:13px;}
/*楼层**/
.m20{margin-top:20px;}
.index_banner .zy-com-wrap{ width:191px; height:146px; float:left;}
.index_banner .zy-com-list{ float:left; width:750px; overflow:hidden; height:146px; margin-left:3px;}
.index_banner .zy-com-list li{ float:left; width:245px; height:146px; margin-left:5px;}
/**footer*/
.footer{margin-top:34px;}
.footer .footer_top{background:#f3f3f3;border-top:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;padding:26px 0;}
.footer .footer_top .fot_link{width:890px;}
.footer .footer_top .fot_link dl{float:left;width:112px;margin-right:36px;background:url(../images/line.jpg) no-repeat right top;min-height:130px;}
.footer .footer_top .fot_link dt{color:#333;font-size:16px;font-family:'微软雅黑';margin-bottom:12px;}
.footer .footer_top .fot_wx{width:248px;padding-right:20px;font-family:'微软雅黑';}
.footer .footer_top .fot_wx .blue{font-size:22px;}
.footer .footer_top .fot_wx p.fr{line-height:26px;}
.footer .footer_top .fot_wx p.fr a img{margin-top:20px;}
.footer .footer_copy{padding:10px 0;}
/****/
.youce{width:56px; float:right; position:fixed; right:5px; bottom:25px;
_position:absolute;
_bottom:auto;
_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
_margin-bottom:15px; z-index:10000;
}
.youce ul li{margin-bottom:3px; width:41px; }
.youce ul li a{display:block; width:41px; height:43px;}
.youce ul li a.yc1{background:url(../images/kfico.png) no-repeat;}
.youce ul li a.yc2{background:url(../images/kfico.png) no-repeat 0 -48px;}
.youce ul li a.yc3{background:url(../images/kfico.png) no-repeat 0 -97px;}
.youce ul li a.yc4{background:url(../images/kfico.png) no-repeat 0 -145px;}
.youce ul li a.yc1:hover{background:url(../images/kfico.png) no-repeat -48px 0;}
.youce ul li a.yc2:hover{background:url(../images/kfico.png) no-repeat -48px -48px;}
.youce ul li a.yc3:hover{background:url(../images/kfico.png) no-repeat -48px -97px;}
.youce ul li a.yc4:hover{background:url(../images/kfico.png) no-repeat -48px -145px;}