@charset "utf-8";
/* CSS Document */
.rl_menu li a span{display:inline-block;width:20px;height:20px; vertical-align:middle;margin-right:15px;}
.rl_menu li.list01 a span{background:url(../images/rlmenuico01.png) no-repeat;}
.rl_menu li.list02 a span{background:url(../images/rlmenuico02.png) no-repeat;}
.rl_menu li.list03 a span{background:url(../images/rlmenuico03.png) no-repeat;}
.rl_menu li.list04 a span{background:url(../images/rlmenuico04.png) no-repeat;}
.rl_menu li.list05 a span{background:url(../images/rlmenuico05.png) no-repeat;}
.rl_menu li.list06 a span{background:url(../images/rlmenuico06.png) no-repeat;}
.rl_menu li.list07 a span{background:url(../images/rlmenuico07.png) no-repeat;}
.rl_menu li.list08 a span{background:url(../images/rlmenuico08.png) no-repeat;}
.rl_menu li.list09 a span{background:url(../images/rlmenuico09.png) no-repeat;}
.rltyxbanner{ width:1200px; margin:0px auto;}
.rlt_left{width:950px;}
.rltyxbanner .left{ width:192px; height:358px; float:left;margin-bottom:7px;}
.rltyxbanner .cent{ width: 744px; height:350px; float:left; position:relative;margin-left:7px;margin-top:7px;}
.rltyxbanner .cent .slides{width: 744px; height:350px; overflow:hidden;}
.rltyxbanner .cent .slides li{width: 744px; height:350px;}
.rltyxbanner .cent flex-control-nav{ position:absolute; bottom:0px; height:30px; left:0px;}
.rltyxbanner .flex-control-nav{position:absolute;bottom:10px;z-index:12;width:100%;text-align:center;}
.rltyxbanner .flex-control-nav li{display:inline-block;width:14px;height:14px;margin:0 5px;*display:inline;zoom:1;}
.rltyxbanner .flex-control-nav a{display:inline-block;width:14px;height:14px;line-height:40px;overflow:hidden;background:url(../images/dot.png) right 0 no-repeat;cursor:pointer;}
.rltyxbanner .flex-control-nav .flex-active{background-position:0 0;}
.rltyxbanner .flex-direction-nav{position:absolute;z-index:3;width:100%;top:45%;display:none;}
.rltyxbanner .flex-direction-nav li a{display:block;width:50px;height:50px;overflow:hidden;cursor:pointer;position:absolute;}
.rltyxbanner .flex-direction-nav li a.flex-prev{left:40px;background:url(../images/prev.png) center center no-repeat;}
.rltyxbanner .flex-direction-nav li a.flex-next{right:40px;background:url(../images/next.png) center center no-repeat;}
.rltyxbanner .right{ width:250px; height:350px; float:right;}
.rltyxbanner .right .tool-join{ height:80px; width:250px; background: #f7f8f8;margin-top:7px;}
.rltyxbanner .right .tool-join .num{ padding:10px 8px 5px; width:240px;}
.rltyxbanner .right .tool-join .num span{ background:url(../images/rlbg01.png) no-repeat; width:21px; height:34px; float:left; margin:0 1px; font-size:20px;line-height:35px; text-align:center; color:#FFF;}
.rltyxbanner .right .tool-join .num span.seg{ width:10px;background:none;color:#333;}
.rltyxbanner .right .tool-join p{ line-height:25px; text-align:center; font-weight:bold; font-size:16px; color:#333;}
.rltyxbanner .right .tool-join .tool-textC {position: relative;margin: 10px 8px 5px;width: 240px;overflow:hidden;height:34px;}
.rltyxbanner .right .tool-join .tool-textC span{display:inline-block;color: #13BEEC; background:url(../images/rlbg01.png) no-repeat;font-size: 28px;position: absolute; width:21px; height:34px; line-height:35px; text-align:center; color: #00F;}
.rltyxbanner .right .tool-join .tool-textC span span{ left:0px; font-size:20px; color:#FFF; background:none;}
.rltyxbanner .right .tool-join .tool-textC span span.seg{background:#f7f8f8;color:#333;}
.rltyxbanner .right .advantage{ height:75px; margin:0px; width:250px;}
.rltyxbanner .right .advantage li{ margin-top:5px;width:50%; float:left; height:30px; line-height:30px; font-size:14px;  text-align:center;}
.rltyxbanner .right .advantage li em{ width:20px; height:20px; border-radius:20px; vertical-align:middle; display:inline-block; margin-right:10px;}
.rltyxbanner .right .advantage li.list01 em{background:url(../images/rlico01.png) no-repeat;}
.rltyxbanner .right .advantage li.list02 em{background:url(../images/rlico02.png) no-repeat;}
.rltyxbanner .right .advantage li.list03 em{background:url(../images/rlico03.png) no-repeat;}
.rltyxbanner .right .advantage li.list04 em{background:url(../images/rlico04.png) no-repeat;}
.rltyxbanner .right .release{ height:345px; background:url(../images/rlbg02.png) no-repeat;color:#fff;}
.rltyxbanner .right .release .title{ margin-top:4px; height:45px; line-height:45px; font-size:30px; text-align:center; color:#FFF;padding-top:26px;}
.rltyxbanner .right .release p{font-size:14px;}
.rltyxbanner .right .release ul{ padding:10px; height:60px;}
.rltyxbanner .right .release ul li{ width:60px; height:60px; background:#99a9d4; text-align:center;  border-radius:60px; margin-left:2px; float:left;}
.rltyxbanner .right .release ul li em{display:inline-block;width:27px;height:27px; vertical-align:middle;margin-top:8px;}
.rltyxbanner .right .release ul li.list01 em{background:url(../images/rlico05.png) no-repeat;}
.rltyxbanner .right .release ul li.list02 em{background:url(../images/rlico06.png) no-repeat;}
.rltyxbanner .right .release ul li.list03 em{background:url(../images/rlico07.png) no-repeat;}
.rltyxbanner .right .release ul li a{ display:block;line-height:20px; color:#FFF;}
.rltyxbanner .right .release ul li.arrow{ width:20px; height:60px; font-size:18px; line-height:60px;background: url(../images/rlico08.png) no-repeat center center; border-radius:60px;} 
.rltyxbanner .right .demandbut{ height:50px; padding-left:7px; margin-top:10px;}
.rltyxbanner .right .demandbut a{ display:inline-block; width:140px; margin-right:5px; height:57px; background:#a5bdff; text-align:center; font-size:20px; color:#FFF; line-height:57px;border:1px solid #fff;margin-top:8px;border-radius:15px;}
.rltyxbanner .right .demandbut a:hover{background:#dee7ff;color:#7288ff;}
.rlt_banner{height:122px;background:#efefef;}
/* 阶梯 */
.m10{margin-top:10px;}
.floor-rs .floor-side{width:322px;background:url(../images/rlbg03.png) no-repeat;height:478px;color:#fff;}
.floor-rs .floor-side .title,.floor-rs .floor-side_business .title,.floor-rs .floor-side_health .title{font-size:40px;line-height:65px;padding:26px 25px;}
.floor-rs .floor-side h2{display:inline-block;width:120px;height:34px;line-height:34px;text-align:center;font-size:18px;font-weight:normal;background:rgba(255,255,255,0.3);}
.floor-rs .floor-side h2:hover{background:#fff;color:#71b0c3;}
.floor-rs .floor-side .business {padding:12px 34px;}
.floor-rs .floor-side .business a{width:100px;color:#fff;display:inline-block;font-size:14px;}
.floor-rs .floor_body{width:876px;border-top:1px solid #b9d7f0;position:relative;}
.floor-rs .floor-content{width:600px;margin-top:7px;}
.floor-rs .floor-content .goodslist li{width:292px;height:306px;border:1px solid #f6f6f6;float:left;margin-left:6px;}
.floor-rs .floor-content .goodslist li img{width:292px;height:306px;}
.floor-rs .floor-content .goodslist li .tit{font-size:14px;}
.floor-rs .floor-content .goodslist li .tit a{color:#727171;}
.floor-rs .floor-content .goodslist li .address{font-size:14px;color:#00a0e9;}
.floor-rs .floor-content .goodslist li p{padding-left:28px;line-height:22px;}
.floor-rs .floor-content .goodslist li .tags{margin-top:8px;}
.floor-rs .floor-content .goodslist li .tags span{margin-right:22px;font-size:14px;color:#898989;}
.floor-rs .floor-content .advlist li{width:292px;height:154px;border:1px solid #f6f6f6;float:left;margin-left:6px;margin-top:6px;background:url(../images/rlbg04.jpg) no-repeat;}
.floor-rs .floor-content .advlist li img{width:292px;height:154px;}
.floor-rs .floor-content .advlist li .tit{font-size:18px;color:#00a2e9;padding-top:43px;padding-left:50px;}
.floor-rs .floor-content .advlist li p{padding-left:20px;}
.floor-rs .floor-content .advlist li .tags{margin-top:10px;}
.floor-rs .floor-content .advlist li .tags span{margin-right:22px;font-size:14px;color:#898989;}
.floor-rs .floor-company{width:272px;margin-top:7px;}
.floor-rs .floor-company .tit{font-size:30px;color:#009fe7;line-height:54px;padding-top:32px;text-align:center;}
.floor-rs .floor-company p{font-size:14px;}
.floor-rs .floor-company li{float:left;padding:35px 7px;width:120px;height:50px;border-right:1px solid #f6f6f6;border-bottom:1px solid #f6f6f6;}
.floor-rs .floor-company li img{width:120px;height:50px;}
.floor-rs .floor-company li:nth-child(2){border-right:none;} 
.floor-rs .floor-company li:nth-child(4){border-right:none;} 
.floor-rs .floor-company li:nth-child(5){border-bottom:none;}
.floor-rs .floor-company li:nth-child(6){border:none;} 
.floor-rs .floor-side_business{width:323px;background:url(../images/rlbg05.png) no-repeat;height:293px;color:#fff;}
.floor-rs .floor-side_business .business {padding:0px 34px;}
.floor-rs .floor-side_business .business a{width:100px;color:#fff;display:block;font-size:14px;}
.floor-rs .bx_goodlist{width:876px;}
.floor-rs .bx_goodlist li,.floor-rs .health_goodcont .health_goodlist li{width:284px;height:291px;border:1px solid #f6f6f6;float:left;margin-left:6px;overflow:hidden;}
.floor-rs .bx_goodlist li img{width:284px;height:291px;}
.floor-rs .bx_goodlist li .tit,.floor-rs .health_goodcont .health_goodlist li .tit{font-size:14px;}
.floor-rs .bx_goodlist li .tit a,,.floor-rs .health_goodcont .health_goodlist li .tit a{color:#727171;}
.floor-rs .bx_goodlist li .address{font-size:14px;color:#e61673;}
.newico{display:inline-block;color:#fff;width:28px;height:17px;line-height:17px;text-align:center;font-size:12px;background:#e61673;margin-left:6px;}
.tjico{display:inline-block;color:#fff;width:28px;height:43px;background:url(../images/tuijian.gif) no-repeat;position:absolute;right:0;top:0;}
.floor-rs .bx_goodlist li .price,.floor-rs .health_goodcont .health_goodlist li .price{font-size:40px;color:#e61673;line-height:48px;font-weight: lighter;
font-family:Lao UI;}
.floor-rs .bx_goodlist li .price del,.floor-rs .health_goodcont .health_goodlist li .price del{font-size:14px;color:#898989;}
.floor-rs .bx_goodlist li p,.floor-rs .health_goodcont .health_goodlist li p{padding-left:26px;}
.floor-rs .floor-side_health{width:323px;background:url(../images/rlbg06.png) no-repeat;height:293px;color:#fff;}
.floor-rs .floor-side_health .business {padding:0px 34px;}
.floor-rs .floor-side_health .business a{width:100px;color:#fff;display:block;font-size:14px;}
.floor-rs .bx_goodlist{width:876px;}
.floor-rs .health_goodcont{width:876px;}
.floor-rs .health_goodcont .health_goodlist{width:588px;}
.floor-rs .health_goodcont .health_goodlist li .address{font-size:14px;color:#8fc31f;}
.floor-rs .health_goodcont .health_goodlist li .price{color:#8fc31f;}
.floor-rs .health_goodcont .health_goodlist li img{width:284px;height:291px;}
.floor-rs .health_goodcont .health_newslist{width:266px;}
.floor-rs .health_goodcont .health_newslist .tit span{display:inline-block;width:74px;height:30px;color:#fff;line-height:30px;text-align:center;background:#c30d23;font-size:19px;}
.hotico{display:inline-block;color:#fff;width:28px;height:17px;line-height:17px;text-align:center;font-size:12px;background:#b81c25; vertical-align:top;}
.floor-rs .health_goodcont .health_newslist .tit{margin:6px 0;}
.floor-rs .health_goodcont .health_newslist li{font-size:14px;height:35px;line-height:35px;}
.floor-rs .health_goodcont .health_newslist li a{color:#595757;}
.floor-rs .health_goodcont .health_newslist li a:hover{color:#8fc31f;}
/* 友情链接 */
.friends_links{margin-top:60px;}
.friends_links .title{font-size:20px;color:#595757;line-height:40px;margin-bottom:10px;padding-left:30px;}
.friends_links a{font-size:14px;display:inline-block;margin:0 30px;line-height:40px;}
/* login */
.login_header .header_center{border:none;padding:2px 0;}
.login_box{width:1100px;margin:80px auto 0;}
.login_box .login_img{width:670px;}
.login_box .login_form{width:420px;min-height:400px;border:1px solid #dddddd;}
.login_img img{width:669px;}
.login_box .login_form form{padding:40px;}
.login_box .login_form form .title{line-height:40px;margin-bottom:10px;}
.login_box .login_form form .title .tit{font-size:20px;color:#333;}
.login_box .login_form form .title .fr{font-size:14px;color:#1b66c7;}
.mkinput{margin-bottom:25px;position:relative;margin-right:10px;}
.inputtip{width:300px;height:38px;padding-left:38px;border:none;font-family:'微软雅黑'; outline:none;border:1px solid #dddddd;}
.login_box .login_form form .mkinput .userico{background:url(../images/userico.png) no-repeat 10px center;}
.login_box .login_form form .mkinput .error-ipt-tip{ border:1px solid #F00;}
.login_box .login_form form .mkinput .mmico{background:url(../images/mmico.png) no-repeat 10px center;}
.mkinput i{display:inline-block;width:10px;height:9px;background:url(../images/clearico.png) no-repeat;position:absolute;top:14px;left:270px;cursor:pointer;}
.form-tip{line-height:35px;display:inline-block;}
.nomargin{margin:0 !important;}
.gray{color:#999;}
.login_box .login_form form .mkbox{line-height:35px;}
.login_box .login_form form .mkbox a{color:#666;}
.login_bgn{height:42px;width:100%;border:none;background:url(../images/loginbtn.png) repeat-x;color:#fff;font-size:18px;font-family:'微软雅黑';border-radius:3px;margin-top:15px;cursor:pointer;}
.login_bgn:hover{background:url(../images/loginbtncur.png) repeat-x;}
.other_style .tags{line-height:30px;margin-top:6px;border-bottom:1px solid #dddddd;color:#666;margin-bottom:12px;}
.other_style span em{display:inline-block; vertical-align:middle;margin-right:8px;}
.other_style span{margin-right:32px;}
.other_style span.qqico em{width:14px;height:16px;background:url(../images/qqico.png) no-repeat;}
.other_style span.sinaico em{width:16px;height:16px;background:url(../images/sinaicos.png) no-repeat;}
.login_box .login_form form .cleaript{left:315px;}
/* reg */
.reg_header {background:none;}
.reg_header .header_center{border:none;padding:2px 0;}
.reg_box{width:1200px;margin:24px auto 0;}
.reg_box .reg_tab{height:50px;line-height:50px;padding:0 58px 0 220px;}
.reg_box .reg_tab .tit a{background:#fff;display:inline-block;width:50px;text-align:center;width:160px;margin-right:16px;color:#666;font-size:20px;border:1px solid #dddddd;border-bottom:none;height:48px;line-height:49px;cursor:pointer;}
.reg_box .reg_tab .tit a.cur,.reg_box .reg_tab .tit a:hover{border-top:2px solid #0095d9;height:49px;}
.reg_box .reg_tab .fr{font-size:14px;color:#666;}
.reg_box .reg_tab .fr a{color:#1b66c7;}
.reg_cont{border:1px solid #dddddd;background:#fff;}
.reg_cont form{margin-top:26px;}
.reg_cont form label{float:left;display:inline-block;width:160px;margin-right:14px;text-align:right;font-size:16px;height:40px;line-height:40px;color:#666;}
.reg_cont form label em{margin-right:6px;}
.reg_cont form .mkinput{float:left;margin-bottom:20px;}
.red{color:#ff0000;}
.reg_cont form .inputtip{padding:0 10px;width:270px;}
.reg_cont form .error-ipt-tip{ border:1px solid #F00;}
.w120{width:110px !important;}
.colorblue{color:#1b66c7;}
.reg_cont form .login_bgn{width:340px;margin-bottom:42px;background:url(../images/reglogin.png) repeat-x;}
.reg_cont form .login_bgn:hover{background:url(../images/reglogincur.png) repeat-x;}
.but-gray{height:40px;width:150px;border:none;background:#eeeeee;color:#999999;font-family:'微软雅黑';font-size:12px;cursor:pointer;margin-left:11px;}
.but-gray.cur{color:#333;}
.grade_box{color:#999999;padding-top:5px;display:inline-block}
.grade_box em{display:inline-block;width:43px;height:14px;line-height:14px;text-align:center;background:#dedede;color:#999;margin-right:5px;}
.grade_box em.color1.cur{background:#fc4343;color:#fff;}
.grade_box em.color2.cur{background:#ff9800;color:#fff;}
.grade_box em.color3.cur{background:#5bc92e;color:#fff;}
.reg_cont form .tags_tit{height:36px;line-height:36px;background:#f2f2f2;padding:0 20px;font-size:16px;color:#333;margin-bottom:22px;}
.reg_cont form select{height:38px;padding-left:38px;border:none;font-family:'微软雅黑'; outline:none;border:1px solid #dddddd;}
.reg_cont form .select_mk{font-size:14px; vertical-align:middle;margin-top:8px;}
.reg_cont form .select_mk input{ vertical-align:middle;}
.error-tip{background:url(../images/error-tip-ico.png) no-repeat left center;padding-left:22px;margin-left:12px; vertical-align:middle;}
.ok-tip{background:url(../images/ok-tip-ico.png) no-repeat left center;padding-left:22px;margin-left:12px; vertical-align:middle;}
/****/
p#vtip {position: absolute; padding:5px 10px; left: 5px; font-size: 12px; background-color: white; border: 1px solid #a6c9e2; -moz-border-radius: 5px; -webkit-border-radius: 5px; z-index: 9999; font-family:"微软雅黑"; color:#F00; border-radius:5px;display:none;}
p#vtip #vtipArrow { position: absolute; top: -10px; left: 5px ;display:none;}
/**人事外包**/
.renshi_container{width:1200px;margin:0 auto;}
.rltyxbanner .rens{ width: 945px; height:345px; float:left; position:relative;margin-top:5px;}
.rltyxbanner .rens .slides{width: 945px; height:345px; overflow:hidden;}
.rltyxbanner .rens .slides li{width: 945px; height:345px;}
.renshi_data {margin-top:38px;}
.renshi_data li{width:199px;padding-right:40px;border-right:1px solid #e5e5e5;height:70px;float:left;text-align:right;}
.renshi_data li:nth-child(5){border:none;}
.renshi_data li .font01{color:#040000;font-size:18px;line-height:40px;}
.renshi_data li .rsnum{font-size:40px;color:#8aba29;margin-right:8px;display:inline-block;}
.renshi_data li .tool-textb{ display:inline-block; line-height:13px; margin:2px 4px 0 4px;}
.renshi_data li .tool-textb i{width:15px;height:23px; display:inline-block; background: url(../images/number.png) no-repeat; background-position:0 0; text-indent:-999em}
.renshi_data li .font02{font-size:18px;color:#8a8a8a;}
/**人事外包筛选**/
.rs_select{margin-top:40px;}
.rs_select .selected_show{height:44px;line-height:44px;font-size:14px;color:#595758;}
.rs_select .selected_show .tit{margin-right:26px;}
.rs_select .selected_show a{color:#595758;margin-right:18px;display:inline-block;height:26px;line-height:24px;padding-left:8px;border:1px solid #ccc;cursor:pointer;}
.rs_select .selected_show a em{display:inline-block;margin:0 8px;cursor:pointer; }
.rs_select .selected_show a:hover{border:1px solid #5962ab;color:#5962ab;}
.rs_select .select_cont{border:1px solid #dcdddd;padding:18px 25px;font-size:14px;color:#595758;position:relative;}
.rs_select .select_cont .mk_box {line-height:35px;}
.rs_select .select_cont .mk_box .tit{width:74px;margin-right:12px;}
.rs_select .select_cont .mk_box .rs_selectlist{width:1020px;}
.rs_select .select_cont .mk_box .rs_selectlist a{color:#595758;display:inline-block;width:110px;cursor:pointer;}
.rs_select .select_cont .mk_box .rs_selectlist a:hover{color:#727EDF;}
.rs_select .select_cont .mk_box .rs_selectlist span{display:inline-block;}
.rs_select .select_cont .mk_box .rs_selectlist span input{display:none;}
.rs_select .select_cont .more_select{width:44px;height:20px;border:1px solid #dcdddd;line-height:20px;text-align:center;position:absolute;top:16px;right:16px;cursor:pointer;color:#727171;}
.rs_select .select_cont .more_select:hover{color:#5962ab;border:1px solid #5962ab;}
.rs_select .select_cont .mk_box .rs_cityselect{width:294px;margin-top:10px;position:relative;}
.city_selected_show{min-height:38px;padding:4px 32px 4px 0px;}
.city_selected_show span{display:inline-block; line-height:23px;}
.city_selected_show span a{color:#595758;}
.city_selected_show textarea{ border:none; line-height:25px; width:100%;}
.rs_select .select_cont .mk_box .rs_cityselect .city_selected_ico{display:inline-block;width:18px;height:10px;background:url(../images/list03.png) no-repeat;position:absolute;right:12px;top:12px;}
.rs_select .select_cont .mk_box .rs_cityselect .city_selected_ico.cur{background:url(../images/list03.png) no-repeat;}
.rs_select .select_cont .mk_box .rs_cityselect .city_selected_list{width:632px;border:1px solid #666;padding:5px 14px;}
.rs_select .select_cont .mk_box .rs_cityselect .city_selected_list a{color:#595758;display:inline-block;width:110px;}
.sure_btn,.rest_btn{border:none;width:48px;height:22px;font-family:'微软雅黑';cursor:pointer;}
.sure_btn{background:#4f5da9;color:#fff;}
.rest_btn{background:none;}
/**人事外包产品列表**/
.rs_productslist li{width:395px;height:327px;border:1px solid #efefef;color:#040000;position:relative;margin:10px 4px 10px 0;float:left;}
.rs_productslist li img{width:395px;height:240px; vertical-align:top;}
.rs_productslist li a{display:block;}
a.buy_btn{display:inline-block;width:193px;height:88px;background:#ff3333; vertical-align:top;line-height:88px;font-size:26px;text-align:center;color:#fff;}
a.buy_btn.cur{display:inline-block;width:193px;height:88px;background:#8a8a89; vertical-align:top;line-height:88px;font-size:26px;text-align:center;color:#fff;}
.rs_productslist li .font01{font-size:16px;text-align:center;line-height:40px;}
.rs_productslist li .font01 del{font-size:12px;}
.rs_productslist li .font02{font-size:40px;color:#d71548;font-family:Lao UI;text-align:center;}
.rs_productslist li span.topico{display:inline-block;width:56px;height:64px;background:url(../images/list04.png) no-repeat;position:absolute;left:34px;top:0;}
.rs_productslist li span.noico{display:inline-block;width:179px;height:180px;background:url(../images/noico.png) no-repeat;position:absolute;right:34px;top:46px;}
.rs_productslist li:nth-child(3){margin-right:0;}
.rs_hot_list .tit span{display:inline-block;width:100px;height:30px;color:#fff;line-height:30px;text-align:center;background:#F50C1A;font-size:19px;}
.rs_hot_list{padding-top:40px;}
.rs_hot_list li{width:395px;height:260px;border:1px solid #efefef;color:#040000;margin:10px 4px 10px 0;float:left;}
.rs_hot_list li img{width:395px;height:202px; vertical-align:top;}
.rs_hot_list li a{display:block;}
.rs_hot_list li:nth-child(3){margin-right:0;}
.rs_hot_list li .buy_info{width:150px;height:54px;background:#5c68a8;color:#fff;padding-top:6px;}
.rs_hot_list li .buy_info p{padding-left:28px;font-size:14px;}
.rs_hot_list li .font01{background:#f3f3f2;height:60px;line-height:60px;font-size:18px;padding-left:25px;}
.rs_hot_list li .font01 a{color:#5c67a8;}
.rltyxbanner .rens_pages{ width: 1200px; height:332px; float:left; position:relative;margin-top:5px;}
.rltyxbanner .rens_pages .slides{width: 1200px; height:332px; overflow:hidden;}
.rltyxbanner .rens_pages .slides li{width: 1200px; height:332px;}
/***/
.rank_menu{ background:#efefef; height:44px;margin-top:10px;}
.rank_menu_lists a{ height:42px; line-height:42px; display:inline-block; color:#595758; font-size:14px;  padding:0px 30px; border:1px solid #efefef}
.rank_menu_lists a.none{display:none !important;}
.rank_menu_lists a:hover,.rank_menu_lists a.cur{ border:1px solid #e3e4e4; background:#fff; height:42px; line-height:42px; color:#5962ab;}
.rank_menu .rank_pages{ padding:0px 20px}
.rank_menu .rank_pages span{ display:inline-block; height:44px; line-height:44px; padding:0px 2px; font-size:14px; color:#595758;cursor: pointer;}
.rank_menu .rank_pages a{ padding:0px 3px; color:#595758;font-size:14px;}
.rank_menu .rank_pages .mazarine{color:#4f5da8 !important; font-size:18px; }
/**  体检产品名称显示位置开始  **/
.medicalproduct_left{}
.medicalproduct_left li{width:590px; border:1px solid #efefef;height:222px;float:left;margin:8px 4px;}
.medicalproduct .medicalproduct_left li:hover{ border:1px solid #7a7fbc; border-radius:10px;}
.medicalproduct .medicalproduct_left li:hover img{filter:alpha(opacity=20); /*IE滤镜，透明度50%*/-moz-opacity:0.2; /*Firefox私有，透明度50%*/opacity:0.2;}

.medicalproduct .medicalproduct_left li .medicalproduct_listsimg{ float:left; margin:72px 10px 0px 24px;}
.medicalproduct_listsimg_right{ padding:40px 0px; float:left;}
.medicalproduct .medicalproduct_left li .medicalproduct_listsimg img{width:143px;}
.medicalproduct .medicalproduct_left li .medicalproduct_listsimg_right .title{ font-size:20px; color:#727171; height:30px; line-height:30px;}
.medicalproduct .medicalproduct_left li:hover .medicalproduct_listsimg_right .title a{color:#4f5da8;}
.medicalproduct_listsimg_right .genre{ display:inline-block; font-size:14px; color:#727171;  padding:0px 26px 0 0; margin-top:10px}
.medicalproduct_listsimg_right .genre.cur{color:#4f5da8;}
.medicalproduct_listsimg_right .genretit{ display:inline-block; font-size:14px; color:#727171; margin-top:10px}
.medicalproduct_listsimg_right .text{ font-size:14px; color:#727171; }
.medicalproduct_listsimg_right .percent{ color:#3e3a39; display:inline-block; font-size:20px;margin-right:10px;}
.medicalproduct_listsimg_right .red{color:#d71548; margin:30px 20px;}
.medicalproduct_right{width:594px;}
.medicalproduct_right li{width:590px; border:1px solid #efefef; margin:5px 0px; overflow:hidden;}
.medicalproduct .medicalproduct_right li .medicalproduct_listsimg{ float:left; margin:72px 10px 72px 24px;}
.medicalproduct_listsimg_right .red{color:#d71548; margin:30px 10px;}
.medicalproduct_listsimg_right .medicalproduct_price{ font-size:40px; height:50px; line-height:50px; color:#4f5da8; display:inline-block; margin-top:20px;}
.medicalproduct_listsimg_right .medicalproduct_price a{ background:#4f5da9; border-radius:5px; display:inline-block; padding:0px 30px; height:50px; line-height:50px; color:#fff; font-size:20px; font-weight:normal; margin-left:10px;}
.medicalproduct_listsimg_right .medicalproduct_link{font-size:14px;color:#4f5da8;margin-left:18px;}
.pingbox h3,.buybox h3{font-weight:normal;}
/**  分页  **/
.pages{ margin:0px auto; overflow:hidden; text-align:center; padding:40px 0px}
.pages a{ display:inline-block; padding:6px 14px; font-size:22px; color:#000;margin:0 4px; }
.pages a:hover, .pages a.cur{ background:#84a0e9; color:#fff; border-radius:5px;}

/****************************** 商铺*******************************/
.m_top20{ margin-top: 20px;}
.orange{ color: #ff6600; font-weight: 600;}
.booking_inputs{ width: 200px; border: 1px solid #dddddd; background: #fff; height: 30px; line-height: 30px; padding: 0px 5px 0px;}
.booking_but{ width: 120px; height:38px; line-height: 38px; color: #fff; background: #FEA100; border-radius: 3px; border: none; cursor: pointer; font-size: 16px; font-family: "微软雅黑";}

.shop_header .header_center{border:none;padding-bottom:20px;}
.wrap{width:1200px;margin:0 auto;}
.header_sub{ width: 1200px; background: #000000; height: 42px;}
.header_sub .header_nav_left{ width: 230px; height: 42px; line-height: 42px; text-align: center;}
.header_sub .header_nav_left a{ display:inline-block;  color:#fff; font-size:16px;}
.header_sub .header_nav{ padding:0px 28px;}
.header_sub .header_nav li{ float: left; height: 42px; line-height: 42px; }
.header_sub .header_nav li a{ color: #FFFFFF; font-size: 16px; display: inline-block; padding: 0px 30px; margin: 0px 5px;}
.header_sub .header_nav li a:hover, .header_sub  .header_nav li a.cur{ background: #555;}
/**头部广告**/
.header_bannner{ width: 1200px; height: 320px; background: #cccccc;}
/** 商铺中间开始  **/
.middle{ width: 1202px;margin:0 auto;}
.middle .left{ width: 230px;}
.middle .left .left_top{ background: #FFFFFF;  padding: 16px 15px;}
.middle .left .left_top .left_top_img { width: 20ppx; height: 200px; text-align: center; }
.middle .left .left_top .left_top_img img{ width: 200px; height: 200px;  vertical-align: middle;}
.middle .left .title{ font-size: 16px;color: #333333; margin-top: 6px; height: 30px; line-height: 30px; }
.middle .left .left_top p{ line-height: 32px; color: #666666; font-size: 12px;}
.middle .left .left_icon{background: url(../images/left_icon01.png) no-repeat; display: inline-block; width: 20px; height: 18px; margin: 0px 5px;}
.middle .left .left_icon2{ background: url(../images/left_icon02.png) no-repeat 5px !important ;}
.middle .left .left_icon3{ background: url(../images/left_icon03.png) no-repeat !important;}
.middle .left .left_icon4{ background: url(../images/left_icon04.png) no-repeat !important;}
.middle .left .left_icon5{background: url(../images/left_icon05.png) no-repeat; display: inline-block; width: 25px; height: 15px; margin: 0px 5px;}
.middle .left .left_icon6{ background: url(../images/left_icon06.png) no-repeat !important;}
/**  收藏  **/
.middle .left .left_collect{ width: 230px; background: #f9f9f9; border-top: 1px solid #eeeeee; text-align: center;}
.middle .left .left_collect a{ display: inline-block; height: 52px; line-height: 52px; text-align: center; color: #fea100; font-size: 16px; background: url(../images/xin.png) no-repeat left center; text-indent: 25px;}
/**  热销排行  **/
.middle .left .ranking{ background: #FFFFFF; width: 230px;}
.middle .left .ranking .title{ border-bottom: 1px solid #dddddd; height: 42px; line-height: 42px;}
.middle .left .ranking .title h3{ border-bottom: 2px solid #ff6600; display:inline-block;font-size: 16px;  color: #000; padding: 0px 15px; font-weight:normal;}
.middle .left .ranking .ranking_lists{padding: 8px 15px; overflow;}
.middle .left .ranking .ranking_lists li{padding:5px 0px ;}
.middle .left .ranking .ranking_img  { width: 50px; height: 50px; overflow: hidden;}
.middle .left .ranking .ranking_img img { width: 50px; height: 50px;}
.middle .left .ranking .ranking_text{ width: 138px; margin-left: 10px; float:right;}
.middle .left .ranking .ranking_text_title{ font-size:14px ; color: #666666;}
.middle .left .ranking .ranking_text_info{ font-size:12px ; color: #999999;}
/**  right 边   **/
.middle .right{ width: 954px;}
.middle .right .right_top{ background: #fff; overflow: hidden;}
.middle .right .right_top .title{width: 652px;  height: 35px; line-height: 35px; padding: 20px 22px; color: #000000; font-family: "微软雅黑"; font-size: 18px; float: left;}
.middle .right .right_top .right_insurance{ width: 652px;   float: left;}
.right_insurance li { background: url(../images/right_insurance_jt.png) no-repeat right 16px; padding: 0px 52px  0 0px;float:left;width:80px;margin-left:24px;}
.right_insurance li p { margin:16px 0px; width: 100px; text-align: center; font-size: 14px; font-family: "微软雅黑"; margin-left: -5px;}
.right_insurance li .icon{ width: 80px; height: 80px; ;}
.right_insurance li.lists01  .icon{ background: url(../images/right_insurance_01.png) no-repeat;}
.right_insurance li.lists02  .icon{ background: url(../images/right_insurance_02.png) no-repeat;}
.right_insurance li.lists03  .icon{ background: url(../images/right_insurance_03.png) no-repeat;}
.right_insurance li.lists04  .icon{ background: url(../images/right_insurance_04.png) no-repeat;}
.right_insurance li:nth-child(4){background:no-repeat;}
/**  预约  **/
.middle .right .booking{ width: 300px; height: 240px; background:url(../images/bookingbg.png) no-repeat;}
.middle .right .booking ul{ margin-top: 90px;}
.middle .right .booking li{ padding: 0px 15px; margin-top: 12px; text-align: center;font-size:16px;color:#333333;}
.middle .right .booking li span{ display: inline-block; width: 50px; text-align: center;}
/**  新品推荐  **/
.middle .right .new_recommend { background: #fff; overflow: hidden; padding-bottom: 20px;}
.middle .right .new_recommend .title{ border-bottom: 1px solid #dddddd; height: 45px; line-height: 45px;}
.middle .right .new_recommend .title h3{ border-bottom: 2px solid #ff6600; padding: 0px 18px; display: inline-block; font-size: 16px;color: #000000;font-weight:normal;}
.middle .right .new_recommend .new_recommend_lists li{ float: left; margin: 20px 14px 0px; position: relative; border: 1px solid #dddddd;}
.middle .right .new_recommend .new_recommend_lists li img{ width: 208px; height: 216px; }
.middle .right .new_recommend .new_recommend_lists .new_recommend_name{ width: 210px; height: 30px; line-height: 30px; position: absolute; z-index: 3; background: #2397cc;  color: #fff; font-size: 16px; bottom: 0px; left: 0px; text-align: center;}
.middle .right .new_recommend .new_recommend_lists .new_recommend_name a{color: #fff; text-align: center;}
.middle .right .new_recommend .new_recommend_lists .new_recommend_info{ cursor: pointer; width:208px; background: #000000; position: absolute; z-index: 1; border: 1px solid #000; top: 0px; left: 0px;height: 218px;background:rgba(0, 0, 0, 0.7);filter:Alpha(opacity=70);display:none;}
.middle .right .new_recommend .new_recommend_lists .new_recommend_info .new_recommend_info_name{color: #fff; font-size: 16px; font-weight: 600; margin-top: 40px; padding: 0px 16px; height: 26px; line-height: 26px;}
.middle .right .new_recommend .new_recommend_lists .new_recommend_info .new_recommend_info_text{ padding: 0px 16px; color: #fff; line-height: 24px;}
/**  热销推荐  **/
.middle .right .new_recommend .hot_recommend_lists li{ float: left; margin: 20px 14px 0px; position: relative; }
.middle .right .new_recommend .hot_recommend_lists li a{border: 1px solid #dddddd; width: 208px; height: 216px; display: inline-block; overflow: hidden;}
.middle .right .new_recommend .hot_recommend_lists li a img{ width: 208px; height: 216px; }
.middle .right .new_recommend .hot_recommend_lists li .hot_recommend_name a{ width: 208px; height: 20px; color: #333333; font-size: 16px; font-weight: 600;border: 1px solid #fff; }
.middle .right .new_recommend .hot_recommend_lists li .hot_recommend_text{ width: 208px; color: #666666; font-size: 12px;line-height:18px;}
/**  用户评论  **/
.user_comment{ margin: 0px 20px; overflow: hidden;}
.user_comment .user_comment_bottom{ border-bottom: 1px solid #efefef; padding: 20px 0px; overflow: hidden;}
.user_comment .user_comment_bottom .user_comment_name{ width: 60px;}
.user_comment .user_comment_bottom .user_comment_name img{ width: 60px; height: 60px;}
.user_comment .user_comment_bottom .user_comment_name .user_name{ width: 60px; text-align: center; color: #2397CC; font-size: 12px;}
.user_comment .user_comment_bottom .user_comment_right{width:820px; padding: 0px 16px;}
.user_comment .user_comment_bottom .user_comment_right_top{ overflow: hidden; ;}
.user_comment .user_comment_bottom .user_comment_right_top .user_comment_date{ display: inline-block; color: #999999; padding-right: 10px; font-size: 12px;}
.msg_xing span{display:inline-block;width:95px;height:15px;background:url(../images/msgstar.png) no-repeat;}
.msg_xing span.list01{background-position:0 0;}
.msg_xing span.list02{background-position:0 -18px;}
.msg_xing span.list03{background-position:0 -36px;}
.msg_xing span.list04{background-position:0 -54px;}
.msg_xing span.list05{background-position:0 -72px;}
.msg_xing span.list06{background-position:0 -90px;}
.user_comment_right_text p{ color: #666666; font-size: 12px; line-height: 20px;}
/**公司简介**/
.middle .right .right_company{ padding:10px 16px 16px; background: #fff;}
.middle .right .right_company .right_company_title{ color: #666666; font-size: 14px; font-weight: 600;line-height:34px;}
.middle .right .right_company .right_company_text { line-height: 24px; font-size: 12px;}
.middle .right .right_company .right_company_text  a{ color: #1b66c7; font-size: 12px;}
.middle .right .right_company_site{ background: #f9f9f9; border-top: 1px solid #eeeeee; height: 52px; line-height: 52px;}
.middle .right .right_company_site_text{ display: inline-block; border-right: 1px solid #eeeeee; width: 418px; text-align: center; font-size: 14px; color: #666666;}
.middle .right .right_company_advisory{ display: inline-block; width: 318px; text-align: center;font-size: 14px; color: #666666;}
.middle .right .right_company_project{ background: #fea100;width: 209px; display: inline-block; text-align: center;}
.middle .right .right_company_project a{background: url(../images/project.png) no-repeat left center;color: #fff; font-size: 16px;  display: inline-block; text-indent: 2em;}
/**  品牌企业 **/
.middle .right .new_recommend .brandenterprise_logo li{ float: left; margin: 20px 14px 0px;width:160px; }
.middle .right .new_recommend .brandenterprise_logo li a{border: 1px solid #dddddd; width: 158px; height: 108px; display: inline-block; overflow: hidden;}
.middle .right .new_recommend .brandenterprise_logo li a img{ width: 158px; height: 108px; }
/****/
.youce{width:56px; float:right; position:fixed; right:5px; bottom:25px;
_position:absolute;
_bottom:auto;
_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
_margin-bottom:15px; z-index:10000;
}
.youce ul li{width:50px;margin-bottom:-1px; }
.youce ul li a{display:block; width:48px; height:48px;border:1px solid #ddd;}
.youce ul li a.yc2{background:url(../images/youce.png) no-repeat -1px -1px;}
.youce ul li a.yc3{background:url(../images/youce.png) no-repeat -1px -50px;}
.youce ul li a.yc4{background:url(../images/youce.png) no-repeat -1px -99px;}
.youce ul li a.yc2:hover{background:url(../images/youce.png) no-repeat -72px -1px;}
.youce ul li a.yc3:hover{background:url(../images/youce.png) no-repeat -72px -50px;}
.youce ul li a.yc4:hover{background:url(../images/youce.png) no-repeat -72px -99px;}
/**  商铺简介 **/
.company_info{background:#fff;}
.company_info .title,.shop_msg .title{ border-bottom: 1px solid #dddddd; height: 45px; line-height: 45px;}
.company_info .title h3,.shop_msg .title h3{ border-bottom: 2px solid #ff6600; padding: 0px 18px; display: inline-block; font-size: 16px;color: #000000;font-weight:normal;}
.article{padding:14px 40px;font-size:14px;}
/**  商铺评论 **/
.shop_msg{background:#fff;}
.shop_msg .msg_form {padding:0 36px;margin-bottom:40px;}
.shop_msg .msg_form .tit{font-size:14px;height:54px;line-height:54px;}
.shop_msg .msg_form textarea{width:880px;height:110px;border:1px solid #dddddd;padding:5px;margin-bottom:18px;font-family:'微软雅黑';font-size:12px;color:#666;}
.orange_btn{width:108px;height:36px;background:#fea100;color:#fff;font-size:16px;font-family:'微软雅黑';border:none;}
.shop_msg .user_comment{border-top:1px solid #efefef;}

/*******************news*****************************/
.pages_bg{background:#fff;}
.pages_banner{height:350px;}
.left_bar{width:228px;}
.right_body{width:954px;}
.pages_main{width:1200px;margin:30px auto 0;font-family:'微软雅黑';background:#eff3f6;}
.news_header{border:none;}
/* news */
.news_flex .flexslider{position:relative;height:354px;overflow:hidden;background:url(../images/loading.gif) 50% no-repeat;overflow:hidden;}
.news_flex .slides{position:relative;z-index:1;overflow:hidden;height:354px;}
.news_flex .slides li{height:354px;}
.news_flex .flex-control-nav{position:absolute;bottom:10px;z-index:12;width:100%;text-align:center;}
.news_flex .flex-control-nav li{display:inline-block;width:14px;height:14px;margin:0 5px;*display:inline;zoom:1;}
.news_flex .flex-control-nav a{display:inline-block;width:14px;height:14px;line-height:40px;overflow:hidden;background:#fff;cursor:pointer;border-radius:14px;}
.news_flex .flex-control-nav .flex-active{background:#68a9e9;}
.news_flex .flex-direction-nav{position:absolute;z-index:3;width:100%;top:45%;display:none;}
.news_flex .flex-direction-nav li a{display:block;width:25px;height:64px;overflow:hidden;cursor:pointer;position:absolute;}
.news_flex .flex-direction-nav li a.flex-prev{left:40px;background:url(../images/leftbtn02.png) center center no-repeat;}
.news_flex .flex-direction-nav li a.flex-next{right:40px;background:url(../images/rightbtn02.png) center center no-repeat;}
.news_flex .flexslider:hover .flex-direction-nav{display:block;}
.news_flex .banner_news{top:13px;}
.comm_news{width:250px;height:312px;position:relative;}
.comm_news img{width:250px;height:312px;}
.comm_news span{display:inline-block;position:absolute;right:0;top:0;background:url(../images/newsmk.png) no-repeat; width:101px;height:102px;}
.news_main{padding:30px 40px;}
.news_list{width:746px;}
.news_article{width:646px;background:#fff;padding:30px 50px;}
.news_bar{width:360px;}
.news_list li{background:#fff;margin-top:20px;padding:18px 16px;}
.news_list li .img,.news_list li .img img{width:198px;height:220px;}
.news_list li .text{width:492px;}
.news_list li .text h2{font-size:28px;line-height:46px;}
.news_list li .text h2 a{color:#000;font-weight:normal;}
.news_list li .text .author{color:#05a5d9;}
.news_list li .text .author span,.news_article .author span{margin-right:20px;}
.news_list li .text .author span em,.news_article .author span em{display:inline-block;width:13px;height:11px;background:url(../images/icon.png) no-repeat; vertical-align:middle;margin-right:6px;}
.news_list li .text .author span.zx_ico em,.news_article .author span.zx_ico em{background-position:-206px -28px;}
.news_list li .text .author span.time em,.news_article .author span.time em{background-position:-228px -28px;}
.news_list li .text .info{font-size:16px;color:#666;height:88px;margin:12px 0;}
.more_btn{display:inline-block;width:106px;height:42px;color:#fff;background:#b8caee;font-size:18px;line-height:42px;text-align:center;}

.pages_mk{background:#fff;padding:15px 10px 10px;}
.news_banner{}
.pages_mk h2{height:20px;line-height:20px;border-left:6px solid #2d6191;padding-left:18px;margin-bottom:11px;font-size:16px;color:#2c608f;}
.news_banner .img img{ vertical-align:middle;}
.news_bk li{height:40px;line-height:40px;border-bottom:1px dashed #ddd;font-size:14px;}
.news_bk li a{color:#444;}
.news_bk li span{font-weight:bold;margin-right:6px;color:#000;font-style:italic;}
.news_bk li span.hot{color:#fe3402;}
.news_tools ul {padding:30px 0 16px 12px;}
.news_tools ul li{width:150px;height:70px;float:left;margin:4px;}
.news_tools ul li a{width:150px;height:70px;background:#f4f4f4;color:#6da9df;display:block;line-height:70px;font-size:16px;}
.news_tools ul li em{display:inline-block;width:28px;height:27px;background:url(../images/icon.png) no-repeat; vertical-align:middle;margin-right:14px;margin-left:28px;}
.news_tools ul li.list01 em{background-position:-37px -66px;}
.news_tools ul li.list02 em{background-position:-69px -66px;}
.news_tools ul li.list03 em{background-position:-100px -66px;}
.news_tools ul li.list04 em{background-position:-131px -66px;}
.news_article h1{font-size:32px;color:#333;font-weight:normal;line-height:54px;}
.article_cont{font-size:16px;line-height:30px;color:#444;margin-top:18px;}
.article_cont img,article_cont .img img{width:360px;}
.article_cont .img{float:left;margin-right:15px;margin-top:10px;}
.news_article .author{color:#05a5d9;font-size:14px;}
.news_article .author img{ vertical-align:middle;}
.news_video{width:360px;height:230px;}
.hot_news_list{height:58px;line-height:58px;background:#fff;overflow:hidden;margin-bottom:20px;}
.hot_news_list span{float:left;display:inline-block;width:120px;text-align:center;font-size:20px;color:#b3c5d9;}
.hot_news_list .scrollleft{float:left;}
.hot_news_list .scrollleft{width:810px;height: 58px;}
.hot_news_list .scrollleft li{float:left;margin-right:17px;display:inline;line-height:19px;height: 58px;line-height: 58px;font-size:16px;}
.hot_news_list .scrollleft li a{color:#b3c5d9;}
.hot_news_list a.more_btn2{display:inline-block;width:120px;text-align:center;color:#fff;font-size:20px;height:58px;line-height:58px;background:#eb8a84;}
/* flexslider */
.news_banner_scroll .flexslider{position:relative;height:202px;background:url(../images/loading.gif) 50% no-repeat;width:335px;}
.news_banner_scroll .slides{position:relative;z-index:1;overflow:hidden;height:202px;width:335px;}
.news_banner_scroll .slides li{height:202px;width:160px;}
.news_banner_scroll .slides li a{display:block;height:202px;width:335px;}
.news_banner_scroll .flex-control-nav{position:absolute;bottom:0px;z-index:12;width:100%;text-align:center;}
.news_banner_scroll .flex-control-nav li{display:inline-block;width:10px;height:10px;margin:0 5px;*display:inline;zoom:1;}
.news_banner_scroll .flex-control-nav a{display:inline-block;width:10px;height:10px;border-radius:10px;line-height:40px;overflow:hidden;cursor:pointer;background:#979fca;}
.news_banner_scroll .flex-control-nav .flex-active{background:#68a9e9;}
.news_banner_scroll .flex-direction-nav{position:absolute;z-index:3;width:100%;top:45%;}
.news_banner_scroll .flex-direction-nav li a{display:block;width:11px;height:20px;overflow:hidden;cursor:pointer;position:absolute;}
