body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:1392px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:1392px;
}
#u1 {
  position:absolute;
  left:2px;
  top:688px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:370px;
  top:162px;
  width:930px;
  height:798px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:930px;
  height:798px;
}
#u3 {
  position:absolute;
  left:2px;
  top:391px;
  width:926px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:374px;
  top:176px;
  width:908px;
  height:551px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:908px;
  height:551px;
}
#u5 {
  position:absolute;
  left:2px;
  top:268px;
  width:904px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:657px;
  top:197px;
  width:70px;
  height:30px;
  overflow:hidden;
}
#u6_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7 {
  position:absolute;
  left:404px;
  top:500px;
  width:176px;
  height:110px;
  overflow:hidden;
}
#u7_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:110px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8 {
  position:absolute;
  left:1190px;
  top:82px;
  width:110px;
  height:30px;
  overflow:hidden;
}
#u8_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:515px;
  top:370px;
  width:53px;
  height:29px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:29px;
}
#u10 {
  position:absolute;
  left:2px;
  top:6px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:521px;
  top:373px;
  width:49px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
